<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<title><%-title %></title>
<link rel="icon" href="<%-prefix%>/cms/diaodiao/assets/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" media="only screen and (min-device-width:1280px)" type="text/css" href="<%-prefix%>/cms/diaodiao/assets/sku300pc.css" />
<link rel="stylesheet" media="only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2), only screen and (max-device-width: 1280px), only screen and (-webkit-min-device-pixel-ratio: 3) and (max-width:1028px)"
    type="text/css" href="<%-prefix%>/cms/diaodiao/assets/sku300phone.css" />
<script src="//apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="<%-prefix%>/cms/diaodiao/assets/jquery.json-2.4.min.js"></script>
<script src="<%-prefix%>/cms/diaodiao/assets/jquery.cookie.min.js"></script>
<script src="<%-prefix%>/cms/diaodiao/assets/api200.js"></script>
</head>

<body data-type="buy" data-render="<%-version%>">
  <div class="total">
    <div class="articlecard bottomshadow" data-sid="<%-sid%>">
      <img class="articleimg" id="stack" src="<%-images[0] + '@200w_200h_1e%7C200x200-5rc' || ''%>">
      <span class="img-index">1/<%-images.length%></span>
      <span class="articletitle"><%-title %></span>
      <span class="brand"><%-brand %></span>
    </div>
    <div class="grayband"></div>
    <div class="grayband"></div>
    <p>您可以通过以下方式购买</p>
    <div class="grayband"></div>
    <div class="buyinfo">
      <%-body %>
    </div>
    <p id="duty">价格仅供参考，实际价格以卖家为准</p>
    <div class="grayband"></div>
    <!--
        <div class="grayband"></div>
        <p>最新折扣</p>
        <div class="grayband"></div>


        <div class="articlecard bottomshadow revarticlecard" data-id="zdmid">
            <img class="articleimg" src="//a.diaox2.com/cms/sites/default/files/20150418/goodthing/xiao_1.jpg">
            <span class="articletitle">样例title</span>
            <span class="brand">￥样例价格</span>
            <div class="buy-button-area">
                <button class="buy-button">
                    <span>购买</span>
                    <img src="//c.diaox2.com/cms/diaodiao/assets/buywhitegt.png">
                </button>
            </div>
        </div>
        <div class="grayband"></div>
        -->

    <div class="grayband"></div>
    <p>介绍过该商品的文章</p>
    <div class="grayband"></div>
    <%-revarticles%>
    <div class="spacing last"></div>
  </div>
</body>
<script>
  //埋图 [{"url":"xx", "id":"yy"}, {}]
  var piclist = [{
    "url": "http:\/\/content.image.alimmdn.com\/sku\/1464594466111_jpg.jpg",
    "id": "0"
  }];
  var current = "0";
  var ddIsBridgeReady = false;
  //自动运行的初始化代码
  jQuery(document).ready(function() {
    var uid = $.cookie('DDuid');
    if (uid == undefined)
      uid = -1;
    //2016-04-21，李国宁：跟Buy页面统计成一样
    add_access({
      "action": "navigate",
      "value": "Buy",
      "user": uid
    }, "log"); //log this
    bind_log_click("td.allri", "data-href", "innerbuy");
    bind_log_click(".revarticlecard", "data-href", "revarticle");
    //var to_mod = window.screen.availHeight - $(".total").height();
    var to_mod = document.documentElement.clientHeight - $('.total').height();
    console.log("space to set = " + to_mod);
    //所以可能在不需要space的时候，比如已经一个屏幕放不下了，还是增加20的space
    if (to_mod < 0)
      to_mod = 20;
    $("div.spacing.last").height(to_mod + 20);
    var toget = [];
    $('span.articleread').each(function(id, it) {
      toget.push(Number($(it).attr("data-id")));
    });
    //console.log(toget);
    get_access(toget, "span.articleread");
    //bridge
    connectWebViewJavascriptBridge(bridgeInitCallback);
  });

  function enter() {
    function out(context) {
      //退出图片浏览，记录上次位置
      current = String(context);
    }

    function in_content_img_clickfunc() {
      //console.log('点击浏览 start:'+current);
      var jsondict = {
        "urls": piclist,
        "current": String(current)
      };
      ddPicBrowserMode(jsondict, out);
      return true;
    }
    console.log('大图浏览模式绑定~');
    $("#stack").bind("click", in_content_img_clickfunc);
  }

  function ddPicBrowserMode(jsondict, callback) {
    console.log("in ddPicBrowserMode!");
    if (!ddIsBridgeReady) {
      return false;
    }
    WebViewJavascriptBridge.callHandler('enter_pic_browser', jsondict, callback);
    return true;
  }

  function connectWebViewJavascriptBridge(callback) {
    if (window.WebViewJavascriptBridge) {
      callback(WebViewJavascriptBridge);
    } else {
      document.addEventListener('WebViewJavascriptBridgeReady', function(ev) {
        callback(ev.bridge);
        if (!window.WebViewJavascriptBridge && ev.bridge)
          window.WebViewJavascriptBridge = ev.bridge; //rare case happen?
      }, false);
    }
  }

  function bridgeInitCallback(bridge) {
    //要么是当时执行成功，要么是WebViewJavascriptBridgeReady设置的event callback里执行
    //事件：WebViewJavascriptBridgeReady
    try {
      ddIsBridgeReady = true;
      bridge.init(function(data, responseCallback) {
        //这个函数是默认的handler，callHandler和registerHandler以外的事件发生了
        console.log('Default handler called?');
        console.log(data);
        if (responseCallback) //typeof responseCallback === "function"
          responseCallback(data);
      });
      //bridge.init(function(message, def_handler) {return def_handler(message);});
      //点击stack进入大图浏览
      console.log('WebViewJavascriptBridge init Success');
      enter();
    } catch (e) {
      console.log('WebViewJavascriptBridge init fail');
      console.log(e);
    }
  }
</script>

</html>
