<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="description" content="「有调」每天讲述精致的生活方式，推荐那些真正高品质的好东西，帮你低价买到优质海淘商品。下载有调，享受生活。">
<meta name="renderer" content="webkit">
<link rel="dns-prefetch" href="//a.diaox2.com">
<link rel="dns-prefetch" href="//c.diaox2.com">
<link rel="icon" href="//a.diaox2.com/cms/diaodiao/assets/favicon.ico" type="image/x-icon">
<title>评测报告</title>
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="stylesheet" href="<%-prefix%>/cms/diaodiao/assets/pcollection.css">
<script src="//apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body data-render="<%-version%>">
  <section class="wrapper" id="wrapper">
    <header class="banner">
      <a href="javascript:void(0);">
        <figure>
          <img src="<%-meta.cover%>">
          <figcaption><%-meta.title%></figcaption>
        </figure>
      </a>
    </header>
    <section class="main">
      <%
        let categorys = Object.keys(contents)
        categorys.forEach(function(category){
        let items = contents[category]
      %>
        <h2 class="catagory"><%-category%></h2>
        <ul class="items">
        <%
          items.forEach(function(item){
        %>
        <li class="item" data-href="<%-prefix%>/view/app/?m=show&id=<%-item.id%>">
          <a href="javascript:void(0);">
            <figure>
              <img src="//<%-placeholder%>" data-lazy-src="<%-item.cover%>">
              <figcaption>
                <div class="title">
                  <p class="flag-container"><span class="flag"><%-item.flag%></span> <span class="flag-desc">#<%-item.desc%></span></p>
                  <p><%-item.title.replace(/ /, '<br>')%></p>
                </div>
              </figcaption>
            </figure>
          </a>
        </li>
        <% }) %>
      </ul>
      <% }) %>
    </section>
  </section>
  <script src="<%-prefix%>/cms/diaodiao/assets/api201.js"></script>
  <script src="<%-prefix%>/cms/diaodiao/assets/pcollection.js"></script>
  <script>
    //cookie
    ! function (a) {
      "function" == typeof define && define.amd ? define(["jquery"], a) : "object" == typeof exports ? a(require(
        "jquery")) : a(jQuery)
    }(function (a) {
      function b(a) {
        return h.raw ? a : encodeURIComponent(a)
      }

      function c(a) {
        return h.raw ? a : decodeURIComponent(a)
      }

      function d(a) {
        return b(h.json ? JSON.stringify(a) : String(a))
      }

      function e(a) {
        0 === a.indexOf('"') && (a = a.slice(1, -1).replace(/\\"/g, '"').replace(/\\\\/g, "\\"));
        try {
          return a = decodeURIComponent(a.replace(g, " ")), h.json ? JSON.parse(a) : a
        } catch (b) {}
      }

      function f(b, c) {
        var d = h.raw ? b : e(b);
        return a.isFunction(c) ? c(d) : d
      }
      var g = /\+/g,
        h = a.cookie = function (e, g, i) {
          if (void 0 !== g && !a.isFunction(g)) {
            if (i = a.extend({}, h.defaults, i), "number" == typeof i.expires) {
              var j = i.expires,
                k = i.expires = new Date;
              k.setTime(+k + 864e5 * j)
            }
            return document.cookie = [b(e), "=", d(g), i.expires ? "; expires=" + i.expires.toUTCString() : "", i.path ?
              "; path=" + i.path : "", i.domain ? "; domain=" + i.domain : "", i.secure ? "; secure" : ""
            ].join("")
          }
          for (var l = e ? void 0 : {}, m = document.cookie ? document.cookie.split("; ") : [], n = 0, o = m.length; o >
            n; n++) {
            var p = m[n].split("="),
              q = c(p.shift()),
              r = p.join("=");
            if (e && e === q) {
              l = f(r, g);
              break
            }
            e || void 0 === (r = f(r)) || (l[q] = r)
          }
          return l
        };
      h.defaults = {}, a.removeCookie = function (b, c) {
        return void 0 === a.cookie(b) ? !1 : (a.cookie(b, "", a.extend({}, c, {
          expires: -1
        })), !a.cookie(b))
      }
    });
    var isIOS = Boolean(navigator.userAgent.match(/iphone|ipod|ios|ipad/i));

    function logAccess() {
      var uid = $.cookie("DDuid");
      if (!uid)
        uid = -1;
      var postdata = {
        "user": uid,
        "action": "Pcollection",
        "value": navigator.userAgent,
        "method": "log",
        "url": location.href,
        "self": location.href,
        "referer": document.referrer,
        "isIOS": isIOS
      };
      console.log(postdata);
      jQuery.support.cors = true;
      $.ajax({
        type: "POST",
        contentType: "application/json",
        data: JSON.stringify(postdata),
        dataType: "json", //"html"
        url: '//api.diaox2.com/v1/contvote',
        success: function (data) {
          console.log('log成功');
          console.log(data);
        },
        timeout: 8000,
        error: function (x, t, e) {
          console.log("log失败, error: " + e);
        }
      });
      return true;
    }

    jQuery(document).ready(function () {
      logAccess();
      bind_log_click('li.item', 'data-href', 'ReadFromCollection');
    });

  </script>
</body>

</html>
